* {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('../imgs/background_institucional.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo_Logo {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}

#imgLogo {
    height: 370px;
    width: 370px;
    margin-top: 250px;
}

nav {
    position: absolute;
    margin-top: 40px;
    height: 100px;
    width: 100%;

    text-align: center;
}

.nav_button {
    margin-top: 20px;

    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
    text-decoration: none;
    border: none;
}

.nav_button_equipe{
    margin-top: 1px;
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
    text-decoration: none;
    border: none;
}

.nav_button:hover {
    transition: 0.2s;
    color: rgb(44, 83, 117);
}

#button_login {
    position: absolute;
    right: 20px;
    top: 10px;

    height: 50px;
    width: 60px;

    background-color: rgba(0, 0, 0, 0);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 22px;

    border: 1px solid;
    border-radius: 10px;
}

.div_equipe{
    display: flex;
    border: 12px solid;
    color: white;
    width: 200px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

